{% extends 'layout.html' %}

{% block content %}



<div>
    <h3>Users</h3>
    <hr>

    <div class="card-deck row">

        {% for u in users %}
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="{{ url_for('users.user', id=u.id) }}">{{ u.first_name }} {{ u.last_name }}</a>
                    </h4>
                    <p class="card-text">{{ u.email }}</p>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>


</div>


{% endblock content %}